body {
    font-size: 1.5rem;
    background-color: pink;
}

header {
    text-align: center;
}

main {
    background-color: white;
    padding: 2em;
}

footer {
    text-align: center;
}

strong {
    color: green;
}
